/* app global css */

@font-face {
  font-family: Sarabun-Bold;
  src: url("../statics/font/Sarabun-Bold.ttf");
}

@font-face {
  font-family: Sarabun-Medium;
  src: url("../statics/font/Sarabun-Medium.ttf");
}

@font-face {
  font-family: Sarabun-SemiBold;
  src: url("../statics/font/Sarabun-SemiBold.ttf");
}

/* TODO : Background Color */
.bg-primary-500 {
  background-color: #009688;
}

.bg-primary-600 {
  background-color: #00897b;
}

.bg-call-action {
  background-color: #ffa726;
}

.bg-error {
  background-color: #b00020;
}

.bg-black {
  background-color: #000000;
}

.bg-dark-gray {
  background-color: #424242;
}

.bg-light-gray {
  background-color: #9e9e9e;
}

.bg-placeholder {
  background-color: #e0e0e0;
}

.bg-surface {
  background-color: #fafafa;
}

.bg-white {
  background-color: #ffffff;
}

/* TODO : Font Color */
.color-primary-500 {
  color: #009688;
}

.color-primary-600 {
  color: #00897b;
}

.color-call-action {
  color: #ffa726;
}

.color-error {
  color: #b00020;
}

.color-black {
  color: #000000;
}

.color-dark-gray {
  color: #424242;
}

.color-light-gray {
  color: #9e9e9e;
}

.color-placeholder {
  color: #e0e0e0;
}

.color-surface {
  color: #fafafa;
}

.color-white {
  color: #ffffff;
}

/* TODO : Border Color */

.border-primary-500 {
  border: 1px solid #009688;
}

.border-primary-600 {
  border: 1px solid #00897b;
}

.border-call-action {
  border: 1px solid #ffa726;
}

.border-error {
  border: 1px solid #b00020;
}

.border-black {
  border: 1px solid #000000;
}

.border-dark-gray {
  border: 1px solid #424242;
}

.border-light-gray {
  border: 1px solid #9e9e9e;
}

.border-placeholder {
  border: 1px solid #e0e0e0;
}

.border-surface {
  border: 1px solid #fafafa;
}

.border-white {
  border: 1px solid #ffffff;
}

/* TODO : Font Size */
.font-h1 {
  font-family: Sarabun-SemiBold;
  font-style: normal;
  font-weight: 600;
  font-size: 47px;
}

.font-h2 {
  font-family: Sarabun-Bold;
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
}

.font-h3 {
  font-family: Sarabun-SemiBold;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
}

.font-body {
  font-family: Sarabun-Medium;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}

/* TODO : Font Family */
.sarabun-bold {
  font-family: Sarabun-Bold;
}

.sarabun-semibold {
  font-family: Sarabun-SemiBold;
}

.sarabun-medium {
  font-family: Sarabun-Medium;
}

/* TODO : Other */
.brx {
  border: 1px solid#f00;
}

.button-action {
  padding: 2px 16px;
  background-color: #ffa726;
  font-family: Sarabun-Medium;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}

.stroked-button {
  padding: 2px 16px;
  background-color: #ffffff;
  font-family: Sarabun-Medium;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}

.disabled-button {
  padding: 2px 16px;
  background-color: #e0e0e0;
  font-family: Sarabun-Medium;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}
